---
title: "Digital Cinema Studies" 
description: "Digital Cinema Studies is a scientific research network funded by the Research Foundation Flanders with international expertise on film and cinema studies" 
---
<section class="home">
  <div data-mh="row1" class="hero">
    <div class="hero-inner">
      <div class="hero-copy">
        <h1>Digital Cinema Studies</h1>
        <p>DICIS - Digital Cinema Studies is a scientific research network funded by the Research Foundation Flanders with international expertise on film and cinema studies crossing over to digital humanities to understand the use, contribution and meaning of the digital turn for the field of cinema studies</p>
      </div>
      <form action="/mission.html" method="get">
      <button>Read More</button>
    </form>
    </div>
  </div>
  <div data-mh="row1" class="news">
    <div class="news-inner">
      <h2>News</h2>
      <p class="title"><a href="http://www.alphavillejournal.com/Issue11.html">Special issue on Cinema Heritage in Europe, just published in Alphaville: Journal of Film and Screen Media (issue 11, summer 2016)</a></p>
      <p class="title"><a href="impact-digital-technologies-on-archival-practices-and-film-curatorship.html">CFP special issue of The Moving Image on the impact of digital technologies on archival practices and film curatorship</a></p>
    </div>
    <p class="all"><a href="/news.html">read all news</a></p>
  </div>
  <div data-mh="row2" class="activities">
    <h2>Activities</h2>
    <div class="activity">
        <%= image_tag "historical-network-research-small.jpg" %>
        <h2><a href="/workshop-historical-network-research.html">WORKSHOP METHODS (4): Historical Network Research</a></h2>
        <p class="date"><time datetime="2016-02-25">16-17 March 2016</time>, Ghent University</p>
        <p>This workshop is a two-days closed DICIS event concerning Historical Network Research.</p>
    </div>
  </div>
  <div data-mh="row2" class="partners">
    <h2>Partners</h2>
    <div class="partner">
      <p><a href="/centre-for-cinema-and-media-studies.html" rel="external">CIMS</a></p>
      <a href="/centre-for-cinema-and-media-studies.html"><%= image_tag "logo-cims-250x30.jpg" %></a>
    </div>
    <div class="partner">
      <p><a href="/institute-for-media-studies.html" rel="external">Institute for Media Studies</a></p>
      <a href="/institute-for-media-studies.html"><%= image_tag "logo-ims-170x170.png" %></a>
    </div>
    <div class="partner">
      <p><a href="/department-of-film-studies-and-audiovisual-culture.html" rel="external">Department of Film Studies and Audiovisual Culture</a></p>
      <a href="/department-of-film-studies-and-audiovisual-culture.html"><%= image_tag "logo-mu-fav-department-of-film.png" %></a>
    </div>
    <div class="partner">
      <p><a href="/flinders-institute-for-research-in-the-humanities.html" rel="external">FIRthH</a></p>
      <a href="/flinders-institute-for-research-in-the-humanities.html"><%= image_tag "logo-flinders-university-250x92.png" %></a>
    </div>
    <div class="partner">
      <p><a href="/film-studies-research-unit.html" rel="external">Film Studies Research Unit</a></p>
      <%= image_tag "logo-oxford-brookes-university-170x85.png" %>
    </div>
    <div class="partner">
      <p><a href="/spanish-film-analysis-group.html" rel="external">Spanish Film Analysis Group</a></p>
      <%= image_tag "logo-universitat-autonoma-barcelona.jpg" %>
    </div>
  </div>
</section>
